<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nicobrowser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <nicobrowser.My.MySettings>
            <setting name="numwid" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="numhei" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="numfore_r" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="numfore_g" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="numfore_b" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="numback_r" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numback_g" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numback_b" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="txtfontname" serializeAs="String">
                <value>Meiryo UI</value>
            </setting>
            <setting name="numfontsize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="chklabelview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chklabelheight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkfullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtlabel_height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtaddress" serializeAs="String">
                <value />
            </setting>
            <setting name="txtpass" serializeAs="String">
                <value />
            </setting>
            <setting name="numstyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numfont" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numfont_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numfontsize_index" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="numstyle_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numlocation_label" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chklocklabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdo1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rdo2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdo3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdo4" serializeAs="String">
                <value>False</value>
            </setting>
        </nicobrowser.My.MySettings>
    </userSettings>
</configuration>